<div class="results">
	<flapout toplevel="true" title="'RDW - ' + singleVehicleCtrl.vehicle.display_name">
		<dl>
			<dt>Kenteken</dt>
			<dd>{{ singleVehicleCtrl.vehicle.license }}</dd>

			<dt>Merk</dt>
			<dd>{{ singleVehicleCtrl.vehicle.brand }}</dd>

			<dt>Type</dt>
			<dd>{{ singleVehicleCtrl.vehicle.type }}</dd>

			<dt>Kleur</dt>
			<dd>{{ singleVehicleCtrl.vehicle.color }}</dd>

			<dt>Chassisnummer</dt>
			<dd>{{ singleVehicleCtrl.vehicle.vin }}</dd>

			<dt>Inslag</dt>
			<dd>r. in motorruimte op steun</dd>

			<dt>Soort</dt>
			<dd>{{ singleVehicleCtrl.vehicle.category }}</dd>
		</dl>

		<flapout title="'Signalering'" ng-if="singleVehicleCtrl.vehicle.signals.length > 0">
			<dl ng-repeat="signal in singleVehicleCtrl.vehicle.signals">
				<dt>Vervoermiddel status</dt>
				<dd>{{ signal.status }}</dd>

				<dt>Begindatum</dt>
				<dd>{{ signal.start_date }}</dd>

				<dt>Aanmeldende organisatie</dt>
				<dd>{{ signal.organization }}</dd>

				<dt>Aanmelding referentie</dt>
				<dd>{{ signal.reference }}</dd>
			</dl>
		</flapout>

		<flapout title="'Duplicaten'">
			<dl>
				<dt>Aantal duplicaten</dt>
				<dd>Geen</dd>
			</dl>
		</flapout>

		<flapout title="'Aansprakelijke'">
			<dl>
				<dt>Identiteit</dt>
				<dd>{{ singleVehicleCtrl.vehicle.owner.display_name }}</dd>

				<dt>Geboren</dt>
				<dd>{{ singleVehicleCtrl.vehicle.owner.birth_date | date:'dd-MM-yyyy'}}</dd>

				<dt>Begindatum</dt>
				<dd>20-04-2015</dd>

				<dt>Soort eigenaar</dt>
				<dd>Natuurlijk persoon (tenaamstelling natuurlijk persoon)</dd>

				<dt>Adres</dt>
				<dd>{{ singleVehicleCtrl.vehicle.owner.addresses[0].street }} {{ singleVehicleCtrl.vehicle.owner.addresses[0].number }}, {{ singleVehicleCtrl.vehicle.owner.addresses[0].postal_code }} {{ singleVehicleCtrl.vehicle.owner.addresses[0].city }}</dd>
			</dl>
		</flapout>
	</flapout>
</div>