<div class="menu person-wrapper">
	<div class="block passport scannable">Scan Paspoort</div>
	<div class="block idcard scannable">Scan ID kaart</div>
	<div class="block driver scannable">Scan Rijbewijs</div>
	<div class="block fingerprint scannable">Scan Vingerafdruk</div>
	<div class="block document searchable" ui-sref="search.document">Handmatig obv document</div>
	<div class="block numbers searchable">Zoek Persoonsnummer</div>
	<div class="block name searchable" ui-sref="search.name">Zoek op Naam</div>
	<div class="block byhand input">Handmatig invoeren</div>
</div>